.header-top{
    min-height: 91px;
    background: linear-gradient(to top, #ffffff 50%, #f2f7ff);
    padding-top: 24px;
    padding-bottom: 24px;
    color: #fff;
    z-index: 1;
    position: relative;
}
.topList {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}
.topListItem a {
    color: #8995a1;
    display: block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.topListItem a:hover {
    color: #142b43;
}
.btn-login {
    color: #006dff;
    margin-right: 30px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
.btn-register {
    color: #fff;
    width: 110px;
    height: 35px;
    border-radius: 8px;
    background: #006dff;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    vertical-align: middle;
}