.font-bold {
    font-weight: bold;
}
.desc-footer {
    color: #8995a1;
    font-size: 13px;
}
.title-footer {
    font-size: 17px;
    font-weight: bold;
}
.botList{
    list-style: none;
    padding: 0;
}
.botList a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #01a1ff;
}
.botList a:hover {
    color: #005e95;
}